<h1>Update product</h1>
<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag :name, @product.name, class: "form-control", placeholder: 'Enter name' %>
  </div>

  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price, class: "form-control", placeholder: 'Enter price' %>
  </div>

  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.description, class: "form-control", placeholder: 'Enter description' %>
  </div>

  <div>
    <%= label_tag :image %>
    <%= text_field_tag :image, @product.image, class: "form-control", placeholder: 'Enter image url' %>
  </div>
  
  <%= submit_tag "Update Product" %>

  <% end %>