<h2> Enter your product here: </h2>
<%= form_tag '/products', method: :post do %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag :name, nil, class: "form-control", placeholder: 'Enter name' %>
  </div>

  <div>
    <%= label_tag :price, nil %>
    <%= text_field_tag :price, nil, class: "form-control", placeholder: 'Price' %>
  </div>

  <div>
  <%= label_tag :img %>
  <%= text_field_tag :img, nil, class: "form-control", placeholder: 'Image url' %>
  </div>

  <div>
  <%= label_tag :description %>
  <%= text_field_tag :description, nil, class: "form-control", placeholder: 'Description' %>
  </div>

  <div>
  <%= button_tag "Go!", class: 'btn btn-default' %>
  </div>

  <% end %>