<div class="container-fluid">
  <div class="row">
    <div class="change">
   
    <h1>Products</h1>
    <h3>Name: <%= @product.name %></h3>
    <h3>Current price: <%= @product.price %></h3>
    <img src= <%= @product.image.first %> alt="...">
    <h3><%= @product.description %></h3>
    <p> Special: <%= @product.sale_message %></p>

    <%= link_to "Edit this product", "/products/#{@product.id}/edit" %>
    <%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %>
    <%= link_to "Back to home", "/products" %>

    </div>

  </div>
</div>